body {
  background-color: white;
  font-family: sans-serif;
}
table {
  background-color: gold;
}
tr,
td {
  border: 1px solid black;
  background-color: gold;
  padding: 5px;
}
th {
  border: 1px solid black;
}
